.btn, .btn-submit {
  padding: 10px 20px;
  border: 2px solid #44517f;
  min-width: 140px;
  border-radius: 8px;
  background: #92bbc8;
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffddff), to(#434c43));
  background: linear-gradient(#ffddff, #434c43);
  color: #39403f;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}
.container_half {
  max-width: 590px;
  margin: 0 0;
}

.header {
  padding: 28px 0;
  background: #7e667e;
  color: #fff;
}
.header__title {
  position: relative;
  font-size: 2.2em;
  color: #e9e0e9;
  font-weight: 600;
}
.header__title::after {
  content: "$";
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
}
.header__logo {
  width: 40px;
  height: 40px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
.section_col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.section_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section p,
.section_2 p,
.section_3 p {
  border: 1px solid #000;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4vw;
}

.btn, .btn-submit {
  text-transform: uppercase;
  cursor: pointer;
}
.btn_red {
  background: #84381c;
}
.btn_red-darker {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn_red-darker:hover {
  background: #622a15;
  -webkit-transform: translate(10px, 5px) rotate(45deg) scale(1.12);
      -ms-transform: translate(10px, 5px) rotate(45deg) scale(1.12);
          transform: translate(10px, 5px) rotate(45deg) scale(1.12);
}
.btn_blue {
  background: #4474ab;
}

.btn-submit {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}