@import url('./_vars.css');


* {
    box-sizing: border-box; /* Визначає блокову модель */
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
    font-size: 16px;
    background: linear-gradient(#f1f4f5, #7a9c9e);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    max-width: 1040px;
    margin: 0 auto;
}

.section__title {
    width: 600px;
    font-size: 1.4em;
    color: #126a88;
    padding: 30px;
    border: 5px solid #2a8d9e;
    background: aquamarine;
}
.section__title_border {
    box-sizing: border-box;
    margin-bottom: 20px;
}
.section__title_content {
    margin-top: 30px;
    box-sizing: content-box;
}
.section__text {
    margin-bottom: 40px;
}
.section_second {
    background: #2a8d9e;
    padding: 10px;
    margin-bottom: 20px;
}

.section__title_none {
    width: 600px;
    font-size: 1.4em;
    color: #126a88;
    padding: 0;
    margin-bottom: 10px;
    border: 0px solid #2a8d9e;
    background: aquamarine;
}



.section__text {
    width: 800px;
    padding: 20px;
    border: 2px solid #000;
}
.section:nth-of-type(even) .section__text {
    box-sizing: border-box;
    background-color: red;
}
.section:nth-of-type(odd) .section__text {
    box-sizing: content-box;
    background-color: green;
}