@import "vars";
@import "mixins";
@import "extends";

* {
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    font-family: $font-family-main;
    font-size: $font-size-main;
    background: linear-gradient(#ffddff, #434c43);
    color: #39403f;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 15px;

    &_half {
        max-width: $container-width / 2;
        margin: 0 0;
    }
}

.header {
    padding: 28px 0;
    background: #7e667e;
    color: #fff;

    &__title {
        position: relative;
        font-size: 2.2em;
        color: #e9e0e9;
        font-weight: 600;

        &::after {
            content: "$";
            position: absolute;
            top: 0;
            left: -20px;
            width: 20px;
        }
    }

    &__logo {
        width: 40px;
        height: 40px;
    }
}

.section {
    @include flex(space-between);
    margin-bottom: 100px;

    &_col {
        flex-direction: column;
    }
}

.section_2 {
    @include flex(center);
    gap: 20px;
}

.section_3 {
    @include flex(space-evenly, flex-start);
}

.section p,
.section_2 p,
.section_3 p {
    border: 1px solid #000;
}

.btns {
    @include flex(center, center);
    gap: 4vw;
}

.btn {
    @extend %btn-shared;
    text-transform: uppercase;
    cursor: pointer;

    &_red {
        background: #84381c;

        &-darker {
            transition: all 0.3s;

            &:hover {
                background: darken(#84381c, 8%);
                transform: translate(10px, 5px) rotate(45deg) scale(1.12);
            }
        }
    }

    &_blue {
        background: #4474ab;
    }
}

.btn-submit {
    @extend .btn;
    transform: scale(1.2);
}